.card {
  border: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
  margin-bottom: 1.5rem;
  padding: 1rem .5rem;
}

.card__category {
  font-size: 13px;
  margin-top: 2px;
}

.card h6 {
  margin: 0;
}

.card:first-of-type {
  margin-top: 1rem;
}